// Background-colors
$primary-background-color: #ffffff;
$header-background-color: #000000;
$footer-background-color: #f7f7f7;

// Accent colors
$accent-color: #ff6b01;

// Text colors
$text-color-1: #000000;
$text-color-2: #ff6b01;
$text-color-3: #ffffff;
$text-color-4: #ff001b;
$text-color-4: #545454;

// Primary font-family
$primary-font-family: 'Roboto', sans-serif;

// Breakpoints
$mobile: 320px;
$tablet: 768px;
$desktop: 1280px;
