$background-color-primary: #FFFFFF;
$background-color-secondary: #FFF5F6;
$background-color-third: #FAFAFA;

$background-color-1: #FFB8CA;
$background-color-2: #F0D1A5;
$background-color-3: #C2E297;

$text-color-1: #D41443;
$text-color-2: #FFFFFF;
$text-color-3: #FFA5BA;
$text-color-4: #000000;
$text-color-5: #907E82;

$btn-color-1: #FFFFFF;
$btn-color-2: #D41443;
$btn-color-1-hover: #ECEBEB;
$btn-color-2-hover: #C7133E;
$btn-color-5: #D41342;

$border-color: #E1E1E1;

$backdrop-color: #ffb8ca43;
$border-color-form:#907E82;

$input-color-hover: #C7133E;
$input-icon-color: #907E82;
