<section class="customer-reviews section">
  <div class="customer-reviews container">
    <div class="slider">
      <div class="slider__item">
        <img
          src="./images/customer-reviews/testimonials1.png"
          class="customer__photo"
          alt="Emily, Los Angeles"
        />
        <div class="customer-reviews__div">
          <div class="customer-reviews__bgc">
            <div class="customer-reviews__lines">
              <p class="customer-reviews__text">
                Nullam consectetuer. Quisque cursus et, porttitor risus. Aliquam
                sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum
                primis in nibh vel risus.
              </p>
            </div>
          </div>
        </div>
        <div class="products__points customer-reviews"></div>
        <p class="customer__name">Emily, Los Angeles</p>
      </div>
      <div class="slider__item">
        <img
          src="./images/customer-reviews/testimonials2.png"
          class="customer__photo"
          alt="Ann, New York"
        />
        <div class="customer-reviews__div">
          <div class="customer-reviews__bgc">
            <div class="customer-reviews__lines">
              <p class="customer-reviews__text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
                Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
          </div>
        </div>
        <div class="products__points customer-reviews"></div>
        <p class="customer__name">Ann, New York</p>
      </div>
      <div class="slider__item">
        <img
          src="./images/customer-reviews/testimonials3.png"
          class="customer__photo"
          alt="Emma, Texas"
        />
        <div class="customer-reviews__div">
          <div class="customer-reviews__bgc">
            <div class="customer-reviews__lines">
              <p class="customer-reviews__text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
                Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
          </div>
        </div>
        <div class="products__points customer-reviews"></div>
        <p class="customer__name">Emma, Texas</p>
      </div>
    </div>
    <ul class="slider-icons__list"></ul>
    <a
      class="slider__control slider__control_prev"
      href="#"
      role="button"
      data-slide="prev"
    ></a>
    <a
      class="slider__control slider__control_next"
      href="#"
      role="button"
      data-slide="next"
    ></a>
  </div>
</section>