<section class="section products">
  <div class="container products__wrapper">
    <div class="products__title-wrapper">
      <span class="products__label-span label-span">100% natural</span>
      <h2 class="products__title-2">products</h2>
    </div>
    <ul class="products__items">
      <li class="products__item">
        <h3 class="products__item-title">ice cream</h3>
        <div class="products__points"></div>
        <p class="products__item-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <button class="products__icon-wrapper" type="button">
          <svg class="products__icon" width="13" height="13">
            <use href="./images/icons.svg#icon-products-arrow"></use>
          </svg>
        </button>
        <div class="products__overlay products__overlay-back-1">
          <p class="products__overlay-descript">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
        </div>
      </li>
      <li class="products__item">
        <h3 class="products__item-title">ice coffee</h3>
        <div class="products__points"></div>
        <p class="products__item-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <button class="products__icon-wrapper" type="button">
          <svg class="cproducts__icon" width="13" height="13">
            <use href="./images/icons.svg#icon-products-arrow"></use>
          </svg>
        </button>
        <div class="products__overlay products__overlay-back-2">
          <p class="products__overlay-descript">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
        </div>
      </li>
      <li class="products__item">
        <h3 class="products__item-title">milkshakes</h3>
        <div class="products__points"></div>
        <p class="products__item-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <button class="products__icon-wrapper" type="button">
          <svg class="products__icon" width="13" height="13">
            <use href="./images/icons.svg#icon-products-arrow"></use>
          </svg>
        </button>
        <div class="products__overlay products__overlay-back-3">
          <p class="products__overlay-descript">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>