<section class="advantages section">
  <div class="advantages container">
    <h2 class="invisible-title"></h2>

    <ul class="advantages__list">
      <li class="advantages__item milk-bucket">
        <span class="advantages__title milk-bucket"> 721 </span>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item apple-bucket">
        <span class="advantages__title apple-bucket"> 16kg </span>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item candy">
        <span class="advantages__title candy"> 84 </span>
        <p class="advantages__text last-child">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
