<section class="contacts section">
  <div class="container">
    <h2 class="contacts-title">Contacts</h2>
    <ul class="contacts-list">
      <li class="contacts-items">
        <div class="contacts-items__company">Cafe</div>
        <div class="contacts-items__wrapper">
          <div class="contacts-city">Chicago</div>
          <p class="contacts-text">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <div class="contacts-items__wrapper contacts-items__wrapper--bordered">
          <div class="contacts-days">Monday - Friday</div>
          <div class="contacts-time">06:00 AM - 10:00 PM</div>
          <div class="contacts-days contacts-days--indented">
            Saturday - Sunday
          </div>
          <div class="contacts-time">08:00 AM - 16:00 PM</div>
        </div>
        <div class="contacts-items__wrapper contacts-items__wrapper--bordered">
          <a class="contacts-links" href="tel:+61(0)383766284"
            >+61(0) 383 766 284
          </a>
          <a class="contacts-links" href="#">noreply@envato.com</a>
        </div>
      </li>
      <li class="contacts-items">
        <div class="contacts-items__company contacts-items__company--restyled">
          Foodtruck
        </div>
        <div class="contacts-items__wrapper">
          <div class="contacts-city">Los Angeles</div>
          <p class="contacts-text">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <div class="contacts-items__wrapper contacts-items__wrapper--bordered">
          <div class="contacts-days">Monday - Friday</div>
          <div class="contacts-time">06:00 AM - 10:00 PM</div>
          <div class="contacts-days contacts-days--indented">
            Saturday - Sunday
          </div>
          <div class="contacts-time">08:00 AM - 16:00 PM</div>
        </div>
        <div class="contacts-items__wrapper contacts-items__wrapper--bordered">
          <a class="contacts-links" href="tel:+61(0)383766284"
            >+61(0) 383 766 284
          </a>
          <a class="contacts-links" href="#">noreply@envato.com</a>
        </div>
      </li>
      <li class="contacts-items">
        <div class="contacts-items__company">Cafe</div>
        <div class="contacts-items__wrapper">
          <div class="contacts-city">New York</div>
          <p class="contacts-text">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <div class="contacts-items__wrapper contacts-items__wrapper--bordered">
          <div class="contacts-days">Monday - Friday</div>
          <div class="contacts-time">06:00 AM - 10:00 PM</div>
          <div class="contacts-days contacts-days--indented">
            Saturday - Sunday
          </div>
          <div class="contacts-time">08:00 AM - 16:00 PM</div>
        </div>
        <div class="contacts-items__wrapper contacts-items__wrapper--bordered">
          <a class="contacts-links" href="tel:+61(0)383766284"
            >+61(0) 383 766 284
          </a>
          <a class="contacts-links" href="#">noreply@envato.com</a>
        </div>
      </li>
    </ul>
    <div class="contact-btn__wrapper">
      <div class="btn-wrapper">
        <button class="contact-btn" type="button" data-modal-location-open>
          Our Locations
          <svg class="contact-btn__icon" width="10" height="10">
            <use href="./images/icons.svg#icon-for-contacts-btn"></use>
          </svg>
        </button>
      </div>
      <div class="btn-wrapper">
        <button
          class="contact-btn contact-btn--modified"
          type="button"
          data-modal-contacts-open
        >
          Franchise
          <svg class="contact-btn__icon" width="10" height="10">
            <use href="./images/icons.svg#icon-Vector-1"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
  <div class="contacts-backdrop contacts-backdrop--hidden" data-contacts-modal>
    <div class="contacts-modal">
      <button
        class="contacts-modal__button"
        type="button"
        data-modal-contacts-close
      >
        <svg width="11" height="11">
          <use href="./images/icons.svg#icon-close-contacts"></use>
        </svg>
      </button>
      <form class="callback-form">
        <strong class="callback-form__title"
          >Leave your contacts and we will call you back</strong
        >
        <label class="callback-form__lable" for="name">Name</label>
        <div class="callback-form__field">
          <input
            class="callback-form__input"
            type="text"
            name="name"
            required
          />
          <svg class="callback-form__input-icon" width="18" height="18">
            <use href="./images/icons.svg#icon-person-callback-form"></use>
          </svg>
        </div>
        <label class="callback-form__lable" for="tel">Phone</label>
        <div class="callback-form__field">
          <input
            class="callback-form__input"
            type="tel"
            name="tel"
            required
          />
          <svg class="callback-form__input-icon" width="18" height="18">
            <use href="./images/icons.svg#icon-phone-callback-form"></use>
          </svg>
        </div>
        <label class="callback-form__lable" for="email">Email</label>
        <div class="callback-form__field">
          <input
            class="callback-form__input"
            type="email"
            name="email"
            required
          />
          <svg class="callback-form__input-icon" width="18" height="18">
            <use href="./images/icons.svg#icon-email-callback-form"></use>
          </svg>
        </div>
        <label class="callback-form__lable" for="comment">Comment</label>
        <textarea
          class="callback-form__comment"
          name="comment"
          placeholder="Type here"
          required
        ></textarea>
        <label class="callback-form__checkbox">
          <input
            class="callback-form__checkbox-input checkbox-hidden"
            type="checkbox"
            name="arragement"
            tabindex="-1"
            required
          />
          <span class="callback-form__checkbox-icon" tabindex="0">
            <svg width="12" height="12">
              <use href="./images/icons.svg#icon-check"></use>
            </svg>
          </span>
          <span class="callback-form__agreement-text">
            I accept the terms and conditions of the
            <a class="callback-form__agreement-link" href="#">Privacy Policy</a>
          </span>
        </label>
        <button class="callback-form__button" type="submit">Submit</button>
      </form>
    </div>
  </div>
  <div class="location-backdrop location-backdrop--hidden" data-location-modal>
    <div class="location-modal">
      <button
      class="location-modal__button"
      type="button"
      data-modal-location-close
    >
      <svg width="11" height="11">
        <use href="./images/icons.svg#icon-close-contacts"></use>
      </svg>
     </button>
     <a class="location-link
     " href="https://www.google.com/maps/place/%D0%A7%D0%B8%D0%BA%D0%B0%D0%B3%D0%BE,+%D0%98%D0%BB%D0%BB%D0%B8%D0%BD%D0%BE%D0%B9%D1%81,+%D0%A1%D0%A8%D0%90/@41.8333925,-88.0121478,10z/data=!3m1!4b1!4m5!3m4!1s0x880e2c3cd0f4cbed:0xafe0a6ad09c0c000!8m2!3d41.8781136!4d-87.6297982" target="_blank">
     <svg class="location-icon">
       <use href="./images/icons.svg#location"></use>
     </svg>Chicago</a>
     <a class="location-link
     " href="https://www.google.com/maps/place/%D0%9B%D0%BE%D1%81-%D0%90%D0%BD%D0%B4%D0%B6%D0%B5%D0%BB%D0%B5%D1%81,+%D0%9A%D0%B0%D0%BB%D0%B8%D1%84%D0%BE%D1%80%D0%BD%D0%B8%D1%8F,+%D0%A1%D0%A8%D0%90/@34.0201613,-118.6919148,10z/data=!3m1!4b1!4m5!3m4!1s0x80c2c75ddc27da13:0xe22fdf6f254608f4!8m2!3d34.0522342!4d-118.2436849" target="_blank">
     <svg class="location-icon">
      <use href="./images/icons.svg#location"></use>
     </svg>Los Angeles</a>
     <a class="location-link
     " href="https://www.google.com/maps/place/%D0%9D%D1%8C%D1%8E-%D0%99%D0%BE%D1%80%D0%BA,+%D0%A1%D0%A8%D0%90/@40.6974034,-74.1197637,11z/data=!3m1!4b1!4m5!3m4!1s0x89c24fa5d33f083b:0xc80b8f06e177fe62!8m2!3d40.7127753!4d-74.0059728" target="_blank">
     <svg class="location-icon">
      <use href="./images/icons.svg#location"></use>
     </svg>New York</a>
     <div class="location-contacts__days">Monday - Friday</div>
      <div class="location-contacts__time">06:00 AM - 10:00 PM</div>
       <div class="location-contacts__days location-contacts__days--indented">
          Saturday - Sunday
       </div>
      <div class="location-contacts__time">08:00 AM - 16:00 PM</div>
      <div class="location-links__wrapper">
        <a class="location-links" href="tel:+61(0)383766284"
          >+61(0) 383 766 284
        </a>
        <a class="location-links" href="#">noreply@envato.com</a>
      </div>
     </div>
    </div>
  </div>
</section>
